<div class="row">
     <div class="col s12 center-align">
          <h2>{{userData.title}}</h2>
          <p>by: {{userData.user.username}}</p>
     </div>
</div>
<div class="row">
     <div class="col s12 center-align">
          <p> On: {{format_date userData.created_at}} </p>
     </div>
</div>
<div class="row">
     <div class="col s12 left-align">
          <p>{{userData.content}}</p>
     </div>
</div>
<div class="row">
     <div class="input-field col s8">
          <input placeholder="Comment" id="new-comment-text" name="comment-input" type="text">
     </div>
     <div class="col s3 offset-s1">
          <button class="btn waves-effect waves-light" id="new-comment-btn" value="{{userData.id}}">
               <i class="material-icons left">question_answer</i> Comment
          </button>
     </div>
</div>
<div class="row">
     {{#each userData.comments}}
     <div class="col s6 offset-s3">
          <div class="card-panel green">
               <span class="white-text">
                   <p>{{comment_text}}</p>
                  <p>---On {{format_date created_at}} by {{user.username}}</p>
               </span>
          </div>
     </div>
     {{/each}}
</div>

<script src="/javascript/comments.js"></script>